# Rust
/target
**/*.rs.bk
Cargo.lock.bak

# mdBook
/docs/book

# Editors / IDEs
.vscode/settings.json
.vscode/launch.json
*.code-workspace
.idea/

# Nix
result
result-*

# OS
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.direnv/
.devenv/


cobertura.xml
.pre-commit-config.yaml